.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.form-container {
  flex: 1;
  border: 1px solid black;
  margin-right: 20px;
  padding: 20px;
}

.details-container {
  flex: 1;
  border: 1px solid black;
  margin-right: 20px;
  padding: 20px;
}

.season-title {
  margin-bottom: 20px;
}

.form-input {
  margin: 5px;
  width: 200px;
}
.form-input-hall {
  margin: 5px 15px;
  width: 200px;
}
.form-input-game {
  margin: 5px 38px;
  width: 200px;
}
.champ-label {
  margin-top: 20px;
}
